@model WebAppMobileRecord.Data.Mobile

@{
    ViewData["Title"] = "Устройство";
}

<div>
    <h4>Устройство</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeactivatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeactivatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OSVersion)
        </dt>
        <dd class="col-sm-10">
            @{
                var osVersion = $"{@Model.OSVersion.OSType.OSTypeName}:{@Model.OSVersion.Version}";
                @Html.DisplayFor(modelItem => osVersion)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileStatus.StatusName)
        </dd>
        <dt class="col-sm-2">
            Email Сотрудника
        </dt>
        <dd class="col-sm-10">
            @{
                var result = Model.AssignMobileIdentities?.FirstOrDefault(a => a.UnAssignDate == null)?.Identity?.Email ?? "";
                @Html.DisplayFor(modelItem => result)
            }
        </dd>
        <dt class="col-sm-2">
            ФИО Сотрудника
        </dt>
        <dd class="col-sm-10">

            @{
                var resultFullName = Model.AssignMobileIdentities?.FirstOrDefault(a => a.UnAssignDate == null)?.Identity?.FullName ?? "";
                @Html.DisplayFor(modelItem => resultFullName)
            }
        </dd>
        <dt class="col-sm-2">
            № Места Сотрудника
        </dt>
        <dd class="col-sm-10">

            @{
                var resultPlace = Model.AssignMobileIdentities?.FirstOrDefault(a => a.UnAssignDate == null)?.Identity?.PlaceNumber ?? "";
                @Html.DisplayFor(modelItem => resultPlace)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileType.TypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
