@model IEnumerable<WebAppMobileRecord.Data.Mobile>
@using Microsoft.AspNetCore.Identity
@using WebAppMobileRecord.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeactivatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OSVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeactivatedDate)
                </td>
                <td>
                    @{
                        var OSVersion = $"{item.OSVersion.OSType.OSTypeName}:{item.OSVersion.Version}";
                        @Html.DisplayFor(modelItem => OSVersion)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileStatus.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                </td>
                @if (User.IsInRole("admin"))
                {

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
