@model IEnumerable<WebAppMobileRecord.Data.Mobile>

@{
    ViewData["Title"] = "Устройства";
}

<h1>Устройства</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Добавить новое устройство</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OSVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            Email Сотрудника
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @{
                    var OSVersion = $"{item.OSVersion.OSType.OSTypeName}:{item.OSVersion.Version}";
                    @Html.DisplayFor(modelItem => OSVersion)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileStatus.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>
            <td>
                @{
                    var result = item.AssignMobileIdentities?.FirstOrDefault(a => a.UnAssignDate == null)?.Identity?.Email ?? "";
                    @Html.DisplayFor(modelItem => result)
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детальная форма</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            }
            else
            {

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Детальная форма</a>
                    @{
                        var userEmail = item.AssignMobileIdentities?.FirstOrDefault(a => a.UnAssignDate == null)?.Identity?.Email;
                        var isEnableChangeStatus = string.IsNullOrEmpty(userEmail) || User.Identity.Name == userEmail;
                    }
                    @if (isEnableChangeStatus)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить статус</a>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>