@model IEnumerable<WebAppMobileRecord.Data.AppUser>
@{
    ViewBag.Title = "Список пользователей";
}


<h1>Сотрудники</h1>

    <p>
        <a asp-action="Create">Добавить сотрудника</a>
    </p>

<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>ФИО</th>
        <th>Номер места</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
<tr>
    <td>@user.Email</td>
    <td>@user.FullName</td>
    <td>@user.PlaceNumber</td>
    <td>
        <a asp-action="Edit" asp-route-id="@user.Id">Изменить</a> |
        <a  asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
    </td>
</tr>
    }
</table>